Tutorials/3D Space Combat/Library/
Tutorials/Dumping Project/Library/
Builds/
Tutorials/3D Space Combat/Assets/_Third Party/
Tutorials/3D Space Combat/Temp/
Tutorials/Dumping Project/Assets/Scenes/Atmospherics/LightingData.asset
*.psd
