# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Tutorials/Roll a Ball/Library/
Tutorials/Roll a Ball/obj/
Tutorials/Roll a Ball/Temp/
Tutorials/Roll a Ball/Builds/
Tutorials/Standard Assets Example Project/
Tutorials/Space Shooter/Library/
Tutorials/Space Shooter/obj/
Tutorials/Space Shooter/Temp/
Tutorials/Space Shooter/Builds/
Tutorials/3D Space Combat/Library/
Tutorials/3D Space Combat/Temp/
Tutorials/3D Space Combat/Builds/
Tutorials/3D Space Combat/obj/
Tutorials/3D Space Combat/Assets/Standard Assets/
Tutorials/3D Space Combat/Assets/Editor/
Tutorials/3D Space Combat/Assets/Detonator Explosion Framework/